:root {
    --brand-background-main: #45a240;
    --brand-background-secondary: #0f4a0c;
    --brand-background-secondary-tran: #0f4a0ce0;
    --brand-background-secondary-tran-2: #0f4a0c70;
    --brand-text-main: #F4F4ED;
    --brand-text-secondary: #313F34;
    --brand-text-third: #4f5951;
    --brand-text-fourth: #949490;
    --brand-text-black: #0D0C0C;
    --brand-red: #e00e0e;

    --brand-pending: #ffcc00;
    --brand-active: #03e70e;
    --brand-canceled: #a71515;
    --brand-defeated: #ff0000;
    --brand-succeeded: #12840c;
    --brand-queued: #ff7700;
    --brand-expired: #5a0303;
    --brand-executed: #044d11;
    --brand-vetoed: #121212;
}